/* **************************** */
/* Header Section */
/* **************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #2d2e32; */
  background-color: rgb(45, 47, 47);
  position: relative;
  text-transform: capitalize;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 5rem;
}

/* **************************** */
/* NAVIGATION Section */
/* **************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #f1f3f5;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all ease 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #71b88e;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #71b88e;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #40c057;
}
/* mobile nav */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #71b88e;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* sticky navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/* **************************** */
/* Hero Section */
/* **************************** */

.section-hero {
  background-color: #2d2e32;
  padding: 4.8rem 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* *************************************************** */
/* Scroll up */
/* *************************************************** */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
  border-radius: 50%;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
  color: #333;
}

/* **************************** */
/* FAQ Section */
/* **************************** */

.section-faq {
  background-color: #2d2e32;
  padding: 4.8rem 9.6rem 0;
  margin-top: 3rem;
}

.accordion {
  /* background-color: #343a40; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.item {
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 32px;
}
.number,
.text {
  font-size: 2.4rem;
  font-weight: 500;
  /* color: #087f5b; */
}
.number {
  color: #ced4da;
}
.icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #087f5b;
}
.hidden-box {
  grid-column: 2;
  display: none;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
.hidden-box ul {
  color: #868e96;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* open design for accordion */
.open {
  /* border-top: 4px solid #087f5b; */
  display: block;
}
.item:hover {
  border-top: 4px solid #087f50;
}
.icon:hover {
  cursor: pointer;
}

.text-style {
  font-weight: 500;
  color: #bfc3c6;
  letter-spacing: -0.5px;
  font-size: 2.5rem;
  line-height: 1.2;
}

.faq-description {
  font-size: 2rem;
  line-height: 1.6;
}

/* ******************************* */
/* CTA section */
/* ******************************* */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
  background-color: #25262a;
  margin-top: 3rem;
}

.cta-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #484f55, #848a91);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
  /* temp height */
  /* height: 50rem; */
}

.cta-text-box {
  /* color: #45260a; */
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(49, 26, 6, 0.35),
      rgba(32, 15, 1, 0.373)
    ),
    url("../img/10136664_17973871.jpg");
  background-size: cover;
  background-position: right;
  filter: brightness(70%);
  /* background-repeat: no-repeat; */
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  /* margin-bottom: 12.8rem; */
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
